{% load static %}
<footer>
    <div class="main-footer">
        <h1 class="section-bg-title">Glance</h1>
        <div class="container-fluid">
            <div class="footer-widgets">
                <div class="widget widget-links wow fadeInLeft">
                    <h3 class="widget-title">ОБСЛУЖИВАНИЕ КЛИЕНТОВ</h3>
                    <ul class="wd-links">
                        <li><a href="#" title="">Контактная поддержка</a></li>
                        <li><a href="#" title="">Отслеживать заказ</a></li>
                        <li><a href="#" title="">Возврат</a></li>
                        <li><a href="#" title="">Доступность</a></li>
                    </ul>
                </div><!--widget-links-->
                <div class="widget widget-links wow fadeInLeft" data-wow-delay="200ms">
                    <h3 class="widget-title">ВЕБ-САЙТ</h3>
                    <ul class="wd-links">
                        <li><a href="#" title="">Условия использования</a></li>
                        <li><a href="#" title="">Доставка & возврат</a></li>
                        <li><a href="#" title="">конфиденциальности</a></li>
                        <li><a href="#" title="">Филиалы</a></li>
                    </ul>
                </div><!--widget-links-->
                <div class="widget widget-links wow fadeInLeft" data-wow-delay="400ms">
                    <h3 class="widget-title">Взгляд</h3>
                    <ul class="wd-links">
                        <li><a href="#" title="">Наследие</a></li>
                        <li><a href="#" title="">Устойчивое развитие</a></li>
                        <li><a href="#" title="">Инстаграм</a></li>
                        <li><a href="#" title="">Наши Контакты</a></li>
                    </ul>
                </div><!--widget-links-->
                <div class="widget widget-newsletter wow fadeInLeft" data-wow-delay="600ms">
                    <h3 class="widget-title">НОВОСТНАЯ РАССЫЛКА</h3>
                    <p>
                        Подпишитесь и получите скидку 10% на первую покупку.</p>
                    <form>
                        <input type="email" name="email" placeholder="Email Address" />
                        <button type="submit" class="theme-btn">Подписаться</button>
                    </form>
                </div><!--widget-newsletter -->
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="copyright wow slideInUp">
                <p>© 2023 Glance IND - ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </div>
</footer>